@model IEnumerable<NetCoreSeguridadEmpleados.Models.Empleado>

@{
    ViewData["Title"] = "Compis";
}

<h1 class="text-danger">Compis de trabajo</h1>

@if(Context.User.IsInRole("PRESIDENTE")==true || Context.User.IsInRole("DIRECTOR"))
{
    <partial name ="_FormUpdateSalarios"/>
    

}

<table class="table table-bordered table-warning">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oficio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
        </tr>
}
    </tbody>
</table>
